.formulario {
  margin: 2rem 10%;
    min-width: 150px;
    width: 80%;

    &__conteudo{
      margin-bottom: 1rem;
      width: 100%;
    }

    &__botoes{
      display: flex;
      justify-content: space-around;
    }
  }

.botao{
  font-size: 1.75rem;
  padding: 1rem;
}


