<form class="formulario">
    <div class="formulario__nome">
        <label for="nome">Nome</label>
        <input id="nome" type="text" [(ngModel)]="nome" name="nome">
    </div>

    <div class="formulario__telefone">
        <label for="telefone">Telefone</label>
        <input id="telefone" type="number" [(ngModel)]="telefone" name="telefone">
    </div>

    <div class="formulario__botoes">
        <button mat-raised-button color="primary" (click)="limparCampos()"> Limpar </button>
        <button mat-raised-button color="primary" (click)="salvar()"> Salvar </button>
    </div>
</form>


